.antd-damnx-components-header-index-header {
    height: 64px;
    padding: 0;
    background: transparent;
    position: relative;
    float: left;
}

.antd-damnx-components-header-index-header-mobile {
    float: left;
    background: transparent
}

.antd-damnx-components-header-index-trigger {
    font-size: 20px;
    height: 64px;
    cursor: pointer;
    transition: all .3s,padding 0s;
    padding: 22px 24px;
}
.antd-damnx-components-top-nav-header-index-logo-mobile {
    float: left;
}