@import "variables";
@import "./components/dashboard.less";

.antd-damnx-components-setting-drawer-index-handle {
  background: @primary-color
}
.anticon-check {
  color: @primary-color
}
.ant-drawer-close-x {
  color: @primary-color
}

#ant-damnx-header .antd-damnx-components-top-nav-header-index-logo h1 {
  color: @heading-color;
}

.antd-damnx-components-sider-menu-index-logo h1 {
  color: @secondary-color;
}

.antd-damnx-components-header-index-trigger {
  color: @heading-color;
}

.ant-damnx-badge {
  color: @heading-color
}

.antd-damnx-components-global-header-index-name {
  color: @heading-color
}
.antd-damnx-components-header-search-index-headerSearch {
  color: @heading-color
}
.antd-damnx-components-header-search-index-headerSearch .input-ant-damnx-header-search {
  color: @heading-color
}

.antd-damnx-components-header-search-index-headerSearch  .show-search-input .input-ant-damnx-header-search {
  border-bottom: 1px solid;
  border-color: @heading-color
}

.show-search-input .input-ant-damnx-header-search {
  border-radius: 0;
  border-bottom: 1px solid;
  border-color: @heading-color
}

.show-search-input .input-ant-damnx-header-search:focus{
  border-bottom: 1px solid ;
  border-color: @heading-color;
}

.show-search-input .input-ant-damnx-header-search:hover{
  border-bottom: 1px solid;
  border-color: @heading-color;
}

.antd-damnx-components-global-header-index-right{
  background-color: @layout-header-background
}

.select-lang-admin-header-index-search-icon {
  color: @heading-color;
}

//topMenu
.damnx-topMenu-menu {
  color: @heading-color;
}

.damnx-topMenu-menu > .ant-menu-item > a {
  color: @heading-color;
}

.ant-menu-submenu-placement-bottomLeft .ant-menu{
  background-color:@layout-header-background;
  color: @heading-color;
}

.ant-menu-submenu-placement-bottomLeft .ant-menu-item > a {
  color: @heading-color;
}

.ant-menu-submenu-placement-bottomLeft .ant-menu-item-active  {
  background: @primary-color;
}

.ant-menu:not(.damnx-topMenu-menu) .ant-menu-item-selected {
  background: @primary-color;
}


//topMenu-sub
.damnx-topMenu-sub-menu .ant-menu {
  background-color:@layout-header-background;
  color: @heading-color;
}
.damnx-topMenu-sub-menu .ant-menu-item > a{
  color: @heading-color;
}

.damnx-topMenu-sub-menu .ant-menu-item-active  {
  background: @primary-color;
}

.damnx-topMenu-sub-menu .ant-menu-submenu-title .ant-menu-submenu-arrow::after{
  background: @heading-color;
}

.damnx-topMenu-sub-menu .ant-menu-submenu-title .ant-menu-submenu-arrow::before{
  background: @heading-color;
}




//menu-mobile
.damnx-menu-mobile {
  color: @secondary-color;
}

.damnx-menu-mobile > .ant-menu-item > a{
  color: @secondary-color;
}

.damnx-menu-mobile .ant-menu-submenu-selected {
  color: @primary-color;
}

//sub-menu-mobile
.damnx-sub-menu-mobile .ant-menu {
  background-color: @layout-sider-background;
  color: @secondary-color;
}

.damnx-sub-menu-mobile .ant-menu-item > a{
  color: @secondary-color;
}


//siderMenu-menu
.damnx-siderMenu-menu .ant-menu {
  background-color:@layout-header-background;
  color:@secondary-color;
}
.damnx-siderMenu-menu .ant-menu-item > a{
  color: @secondary-color;
}

.damnx-siderMenu-menu .ant-menu-item-active  {
  background: @primary-color;
}


// .damnx-siderMenu-menu {
//   color: @secondary-color;
// }

// .damnx-siderMenu-menu > .ant-menu-item{
//   color: @secondary-color;
// }

// .damnx-siderMenu-menu >.ant-menu-item-active >a {
//   color:@primary-color;
// }

// .damnx-siderMenu-menu .ant-menu-item:active{
//   background-color: @primary-color;
// }

// .damnx-siderMenu-menu >.ant-menu-item:active > a{
//   color: @primary-color;
// }

// .damnx-siderMenu-menu .ant-menu-item > a{
//   color: @secondary-color;
// }


//siderMenu-sub
.damnx-siderMenu-sub-menu {
  color:@secondary-color;
}
.damnx-siderMenu-sub-menu .ant-menu {
  background-color:@layout-sider-background;
  color:@secondary-color;
}
.damnx-siderMenu-sub-menu .ant-menu-item > a{
  color: @secondary-color;
}

.damnx-siderMenu-sub-menu .ant-menu-item-active  {
  background: @primary-color;
}

.damnx-siderMenu-sub-menu .ant-menu-submenu-title .ant-menu-submenu-arrow::after{
  background: @secondary-color;
}

.damnx-siderMenu-sub-menu .ant-menu-submenu-title .ant-menu-submenu-arrow::before{
  background: @secondary-color;
}

.damnx-siderMenu-menu .ant-menu-submenu-selected .ant-menu-submenu-title{
  color:@primary-color;
}
// .damnx-siderMenu-sub-menu .ant-menu {
//   background-color: @layout-sider-background;
//   color: @secondary-color;
// }

// .damnx-siderMenu-sub-menu .ant-menu-item > a{
//   color: @secondary-color;
// }

// .damnx-siderMenu-sub-menu .ant-menu-item:active{
//   background-color: @primary-color;
// }

// .damnx-siderMenu-sub-menu .ant-menu-item-active > a  {
//   // background: @layout-sider-background;
//   color: @primary-color
// }

// .damnx-siderMenu-sub-menu .ant-menu-item-active {
//   background: @layout-sider-background;
// }

// .damnx-siderMenu-sub-menu .ant-menu-submenu-title .ant-menu-submenu-arrow::after{
//   background: @secondary-color;
// }

// .damnx-siderMenu-sub-menu .ant-menu-submenu-title .ant-menu-submenu-arrow::before{
//   background: @secondary-color;
// }
