@import "variables";
@import "./components/dashboard.less";
.antd-damnx-components-setting-drawer-index-handle {
  background: @primary-color
}
.anticon-check {
  color: @primary-color
}
.ant-drawer-close-x {
  color: @primary-color
}

.damnx-topMenu-menu {
  background: @layout-header-background;
  color: @heading-color;
}

.damnx-topMenu-menu > .ant-menu-item > a {
  color: @heading-color;
}

.damnx-topMenu-sub-menu .ant-menu {
  background: fade(@layout-header-background, 85%) ;
  color: @heading-color;
}

.damnx-topMenu-sub-menu .ant-menu-item > a:hover {
  color: @primary-color;
}

.damnx-topMenu-sub-menu .ant-menu-item > a{
  color: @heading-color;
}
