.antd-damnx-components-header-search-index-headerSearch{
    cursor: pointer;
    padding: 10px 10px;
    display: inline-block;
    transition: all .3s;
    height: 100%;
    float: left;
}
.antd-damnx-components-header-search-index-headerSearch:hover{
    background: rgba(0,0,0,.025);
}