
#ant-damnx-header .antd-damnx-components-top-nav-header-index-logo {
    width: 165px;
    height: 64px;
    position: relative;
    line-height: 64px;
    transition: all .3s;
    overflow: hidden;
    float: left;
}

#ant-damnx-header .antd-damnx-components-top-nav-header-index-logo img{
    display: inline-block;
    vertical-align: middle;
    height: 32px;
}

#ant-damnx-header .antd-damnx-components-top-nav-header-index-logo h1{
    color: #fff;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin: 0 0 0 12px;
    font-weight: 400;
}

#ant-damnx-header .antd-damnx-components-top-nav-header-index-left{
  float: left;
}

#ant-damnx-header .antd-damnx-components-top-nav-header-index-left .ant-menu
{
    float: left;
}
