.antd-damnx-components-sider-menu-index-logo {
    height: 64px;
    position: relative;
    line-height: 64px;
    padding-left: 24px;
    transition: all .3s;
    background: transparent;
    overflow: hidden;
}

/**
header css
*/

.antd-damnx-components-sider-menu-index-logo img{
    display: inline-block;
    vertical-align: middle;
    height: 32px;
}

.antd-damnx-components-sider-menu-index-logo h1{
    color: #fff;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin: 0 0 0 12px;
    font-weight: 400;
}

.ant-damnx-content-fixed {
    max-width: 1200px;
    margin: auto;
    padding-left: 0;
}

.ant-drawer-open .ant-drawer-mask {
    background-color: rgba(0, 0, 0, 0.65);
  }

.layout-content {
    margin: 24px 24px 0px;
    padding: 0
}


@media only screen and (max-width: 768px) {
    .layout-content {
        margin: 10px;
        padding: 0
    }
}
